@page
@model MojProfilModel
@{
    ViewData["Title"] = "Mój profil";
}

<div class="text-center">
    <h2>Mój profil</h2>
</div>

<!-- Formularz logowania -->
<div class="container">
    <h2>Logowanie</h2>
    <form asp-controller="Account" asp-action="Login" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label for="Input_Nickname">Nick</label>
            <input type="text" class="form-control" id="Input_Nickname" name="Input.Nickname" placeholder="Wprowadź nick">
        </div>
        <div class="form-group">
            <label for="Input_Password">Hasło</label>
            <input type="password" class="form-control" id="Input_Password" name="Input.Password" placeholder="Wprowadź hasło">
        </div>
        <button type="submit" class="btn btn-primary">Zaloguj się</button>
    </form>

    <!-- Formularz rejestracji -->
    <h2>Rejestracja</h2>
    <form asp-controller="Account" asp-action="Register" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label for="Input_RegisterNickname">Nick</label>
            <input type="text" class="form-control" id="Input_RegisterNickname" name="Input.RegisterNickname" placeholder="Wprowadź nick">
        </div>
        <div class="form-group">
            <label for="Input_RegisterEmail">Email</label>
            <input type="email" class="form-control" id="Input_RegisterEmail" name="Input.RegisterEmail" placeholder="Wprowadź email">
        </div>
        <div class="form-group">
            <label for="Input_RegisterPassword">Hasło</label>
            <input type="password" class="form-control" id="Input_RegisterPassword" name="Input.RegisterPassword" placeholder="Wprowadź hasło">
        </div>
        <div class="form-group">
            <label for="Input_RegisterAge">Wiek</label>
            <input type="number" class="form-control" id="Input_RegisterAge" name="Input.RegisterAge" placeholder="Wprowadź wiek">
        </div>
        <button type="submit" class="btn btn-primary">Zarejestruj się</button>
    </form>

</div>
