<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"] - Blackjack</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link id="themeStylesheet" rel="stylesheet" href="~/css/dark-theme.css" asp-append-version="true" />
    @RenderSection("Styles", required: false)
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <style>
        body {
            margin: 0;
        }

        #toggleDarkModeBtn {
            position: fixed;
            top: 10px;
            right: 10px;
            background-color: #007bff;
            color: #ffffff;
            border: none;
            padding: 10px 15px;
            border-radius: 25px;
            cursor: pointer;
            transition: background-color 0.3s, color 0.3s;
        }

            #toggleDarkModeBtn.dark-mode {
                background-color: #343a40;
                color: #ffffff;
            }

            #toggleDarkModeBtn i {
                transition: opacity 0.3s;
                opacity: 0;
            }

            #toggleDarkModeBtn.dark-mode i.sun-icon {
                opacity: 1;
            }

            #toggleDarkModeBtn i.moon-icon {
                opacity: 1;
            }

        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #333;
            padding: 10px;
        }

            nav ul {
                display: flex;
                list-style-type: none;
                padding: 0;
                margin: 0;
            }

            nav li {
                margin-right: 10px;
            }

            nav a {
                display: block;
                padding: 15px;
                text-align: center;
                text-decoration: none;
                color: #fff;
                background-color: inherit; /* Ustawienie tła na dziedziczone od rodzica, czyli tła .container */
                border: 1px solid #007bff;
                border-radius: 15px;
                transition: background-color 0.3s, color 0.3s;
            }


                nav a:last-child {
                    margin-right: 0;
                }

        .container {
            margin-top: 80px;
            background-color: inherit; /* Ustawienie tła na dziedziczone od rodzica, czyli tła całej strony */
            padding: 20px; /* Dodanie dodatkowego paddingu dla lepszego wyglądu */
        }

    </style>
</head>

<body>
    <button id="toggleDarkModeBtn" onclick="toggleDarkMode()">
        <i class="fas fa-moon moon-icon"></i>
        <i class="fas fa-sun sun-icon"></i>
    </button>
    <div class="container">
        <header>
            <nav>
                <ul>
                    <li><a asp-page="/Index">Strona główna</a></li>
                    <li><a asp-page="/Home/SymulatorGry">Symulator gry</a></li>
                    <li><a asp-page="/Home/MojeWyniki">Moje wyniki</a></li>
                    <li><a asp-page="/Home/Wskazowki">Wskazówki</a></li>
                    <li><a asp-page="/Home/Poradniki">Poradniki</a></li>
                    <li><a asp-page="/Home/MojProfil">Mój profil</a></li>
                </ul>
            </nav>
        </header>
        <div>
            @RenderBody()
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script>
        function toggleDarkMode() {
            var themeStylesheet = document.getElementById('themeStylesheet');
            var toggleBtn = document.getElementById('toggleDarkModeBtn');
            if (themeStylesheet.getAttribute('href').includes('dark-theme.css')) {
                themeStylesheet.setAttribute('href', '/css/light-theme.css');
                toggleBtn.classList.remove('dark-mode');
            } else {
                themeStylesheet.setAttribute('href', '/css/dark-theme.css');
                toggleBtn.classList.add('dark-mode');
            }
        }
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
